* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
}

h3 {
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

input[type=number] {
  -moz-appearance: textfield;
}

body, html {
  height: 100%;
}

body {
  background-color: #a1c3d1;
}

#text {
  text-align: center;
  color: black;
  font-size: 28px;
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  height: 100%;
}

#feat > div {
  float: left;
}

@media screen and (max-width: 600px) {
  #text {
    font-size: 23px;
  }
  #feat > div {
    float: none;
    width: 100%;
  }
  #first {
    margin-bottom: 50px;
  }
  #table {
    width: 100%;
  }
  #tablediv {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#feat {
  padding-top: 50px;
}

#first {
  width: 40%;
  text-align: center;
}

#second {
  width: 50%;
}

#smalltext {
  color: #106310;
  font-size: 14px;
  display: none;
}

.lo {
  font-size: 25px;
}

#income, #item {
  width: 200px;
  height: 20px;
  border: 1px solid #e8ecef;
  background-color: #e8ecef;
  border-radius: 0.6em;
  padding: 15px;
  margin: 20px 0px 0px;
  font-size: 15px;
  color: #053d59;
}

#tablediv {
  text-align: center;
  padding-top: 50px;
}

#table {
  background: white;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 0.5em;
  width: 70%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

td, th {
  border-bottom: 1px solid #dfd8d8e0;
  padding: 10px;
}

thead > tr {
  background-color: #dddddd;
}

#item {
  margin-bottom: 10px;
}

#rating {
  margin-top: 5px;
  width: 150px;
  height: 30px;
  border: 1px solid #e8ecef;
  background-color: #e8ecef;
  border-radius: 0.6em;
  color: black;
}

input::placeholder {
  font-size: 14px;
}

#second {
  text-align: center;
}

.button {
  margin: 20px 0;
  width: 120px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  height: 37px;
  border: 1px solid #303c6c;
  border-radius: 2em;
  color: white;
  background: linear-gradient(to right, #a1c3d1 50%, #303c6c 50%);
  transition: all .5s ease-out;
  background-position: right bottom;
  background-size: 200% 100%;
}

.button:hover {
  border: 1px solid #303c6c;
  background-position: left bottom;
  color: black;
}

.me {
  background: gray;
  color: black;
  border: none;
  cursor: text;
}

.me:hover {
  color: black;
  background: gray;
  border: none;
}

.two {
  width: 200px;
}
